# CS 4820
# Assignment 11: Time Series and Recurrent Neural Networks (RNN)

In Tutorail 11, you successfully predicted the electric load of the next hour and now we would like to push it further. Let's see if your model (with the following changes) can predict the load __in 36 hours__ instead of the next hour.

- The entire section 1 "Time series forecasting" should stay the same between Tutorial 11 and this assignment.
- In section 2 "LSTM model" below, set the following before using the helper `function create_lagged_Xy_win` to generate new X and y pairs 
    - `start_lag=36`
    - `window_len=72`
- Still in section 2 "LSTM model" below, build an LSTM model of three layers
    - One LSTM layer of 12 LSTM units. Set `kernel_initializer='normal'`. Also, set `return_sequences=True` since there is another LSTM layer following this one.
    - Another LSTM layer of 6 LSTM units. Set `kernel_initializer='normal'`. No need to set `return_sequences=True` since this is the last LSTM layer.
    - One last layer of `Dense(1)`.
- Train, test, and evaluate your model like what you did in Tutorial 11.

### 1. Time series forecasting

Load and pre-process the data.

In [2]:
# allow multiple outputs be displayed for each cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Local Jupyter Notebook
fname = './data/ZonalDemands_2003-2016.csv.bz2'

df = pd.read_csv(fname, compression='bz2',
                 engine='python')

df.head(3)
df.tail(3)

,Date,Hour,Total Ontario,Northwest,Northeast,Ottawa,East,Toronto,Essa,Bruce,Southwest,Niagara,West,Tot Zones,diff
0,01-May-03,1,13702,809,1284,965,765,4422,622,41,2729,617,1611,13865,163
1,01-May-03,2,13578,825,1283,923,752,4340,602,43,2731,615,1564,13678,100
2,01-May-03,3,13411,834,1277,910,751,4281,591,45,2696,596,1553,13534,123

,Date,Hour,Total Ontario,Northwest,Northeast,Ottawa,East,Toronto,Essa,Bruce,Southwest,Niagara,West,Tot Zones,diff
119853,2016/12/31,22,15195,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,595
119854,2016/12/31,23,14758,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"1,032"
119855,2016/12/31,24,14153,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"1,637"

### 2. Long Short Term Memory (LSTM) Neural Networks Model

#### 2.1 Rolling windows

In [1]:
# ...

#### 2.2 Model construction

In [2]:
# ...

#### 2.3 Model evaluation

For your reference, the following is a small part of my predictive model to compare train and test.

![LSTM 36 hours](./assets/LSTM_36_hours.png)

In [3]:
# ...